.h4 {
    color: black;
    font-weight: 700;
}

#display {
    inline-size: -webkit-fill-available;
    font-size: -webkit-xxx-large;
    border-style: dashed;
    border-color: gray;
    border-radius: 5px;
}

#genButton {
    background-color: rgb(168, 5, 5); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
}

#copyButton {
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    float: right;

}